@tailwind base;
@tailwind components;
@tailwind utilities;


.header-container {
    background-color: #1E3A8A; 
    padding: 1rem 1.5rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  .header-title {
    font-size: 2rem; 
    color: #FFFFFF;
    font-weight: bold;
  }

.app-background {
  background-color: #f7fafc; 
  min-height: 100vh;
}
